# mac
.DS_STORE

# vim
*.swp

# vscode
.vscode

# .env
.env

# venvs
venv
.venvs
venvs

# python
.ipynb_checkpoints

# personal conventions
out.txt
out.csv
out.json
out2.json
out3.json
out4.json
temp/
temp.py
temp.txt
temp.ipynb
temp.md

# dbt
target/
dbt_packages/

# logs
logs
*snowsql*log*

